:root {
    --top-row-height: 81px;
    --section-heading-line-height: 28px;
    --columns-width-sum: 600px;
    --border-radius: 4px;

    --main-font: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;

    --color-black: #000;
    --color-black-grey: #202020;
    --color-dark-grey: #3A3A3A;
    --color-grey-darker: #5F5F5F;
    --color-grey: #8D8D8D;
    --color-grey-lighter: #B4B4B4;
    --color-light-grey: #D9D9D9;
    --color-white: #fff;
    --color-danger: #D93E3E;
    --color-danger-disabled: #EE7E7E;
    --color-sucess: #52B043;
    --color-sucess-disabled: #A3DD9A;
    --color-trash-hover: #FF5E5E;
    --color-template-hover: #303030;

    --style-yellow-default: #FEFCC4;
    --style-yellow-selected: #FEFA93;
    --style-yellow-border: #F2E57E;
    --style-yellow-preview: #FFFB9E;

    --style-pink-default: #FFE4E4;
    --style-pink-selected: #FFCBCB;
    --style-pink-border: #FFADAD;
    --style-pink-preview: #FF7676;

    --style-green-default: #E7FFE8;
    --style-green-selected: #BDFFC0;
    --style-green-border: #90E995;
    --style-green-preview: #5AC35F;

    --style-purple-default: #E5E8FF;
    --style-purple-selected: #D3D8FF;
    --style-purple-border: #AEB6FF;
    --style-purple-preview: #8E9AFF;

    --style-grey-default: #F9F9F9;
    --style-grey-selected: #E5E5E5;
    --style-grey-border: #BABABA;
    --style-grey-preview: #CFCFCF;
}



