@import url("~StyleSettings/index.css");

.app {
    font-family: var(--main-font);

    height: 100vh;
    display: grid;
    grid-template-columns:
            calc(var(--columns-width-sum) / (1 + 3.24 / 2))
            calc(var(--columns-width-sum) / (1 + 2 / 3.24))
            minmax(400px, auto);
}

.leftColumn {
    background: var(--color-dark-grey);

    display: grid;
    grid-template-areas: 'idk' 'entriesTemplatesSection';
    grid-template-rows: calc(var(--top-row-height) - (var(--section-heading-line-height) / 2)) auto;
}

.accountLink {
    color: var(--color-white);
    margin: 15px 0 0 15px;
}
