@import url("~StyleSettings/index.css");

.container,
.containerBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    padding: 0 19px 0 20px;
    height: 54px;
}

.container {
    background-color: var(--color-template-selected);
}

.templateInfo {
    display: flex;
    align-items: center;
}

.colorSquare {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 3px;
}

.colorSquare.green {
    background-color: var(--style-green-preview);
}

.colorSquare.grey {
    background-color: var(--style-grey-preview);
}

.colorSquare.pink {
    background-color: var(--style-pink-preview);
}

.colorSquare.purple {
    background-color: var(--style-purple-preview);
}

.colorSquare.yellow {
    background-color: var(--style-yellow-preview);
}

.input {
    margin-left: 10px;
    width: 108px; /* TODO more abstract */
    border: none;
    border-radius: 2px;

    padding-left: 3px;
    color: var(--color-white);
    font-size: 14px;
    font-family: var(--main-font);
    background-color: var(--color-grey-darker);
}

.diskBtn,
.cancelBtn {
    cursor: pointer;
    margin-left: 12px;
}

.containerBtn {
    cursor: pointer;
}

.containerBtn:hover {
    background-color: var(--color-template-hover);
}

.containerBtn.selected.selected {
    background-color: var(--color-template-selected);
}

.templateName {
    padding-left: 13px;
    font-size: 14px;
    color: var(--color-white);
}

.pencil {
    margin-right: 12px;
}

.pencil > path,
.trash > path {
    stroke-opacity: 0;
    transition: stroke 0.2s;
}

.containerBtn:hover .pencil > path,
.containerBtn:hover .trash > path {
    stroke-opacity: 1;
}

.pencil:hover > path {
    stroke: var(--color-white);
}

.trash:hover > path {
    stroke: var(--color-trash-hover);
}
