@import url("~StyleSettings/index.css");

.entriesList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entriesContainer {
    grid-area: entriesContainer;
}

.entriesSection {
    background-color: var(--style-grey-default);

    display: grid;
    grid-template-areas: 'idk' 'entriesContainer';
    grid-template-rows: var(--topRowHeight) auto;
}
