@import url("~StyleSettings/index.css");

.container {
    --current-top-row-height: calc(var(--top-row-height) - (var(--section-heading-line-height) / 2));

    display: grid;
    grid-template-areas: 'idk' 'entriesContainer';
    grid-template-rows: var(--current-top-row-height) auto;

    background-color: var(--style-current-default);
    border-right: 1px solid var(--style-current-border);
}

.container.green {
    --style-current-default: var(--style-green-default);
    --style-current-selected: var(--style-green-selected);
    --style-current-border: var(--style-green-border);
}

.container.grey {
    --style-current-default: var(--style-grey-default);
    --style-current-selected: var(--style-grey-selected);
    --style-current-border: var(--style-grey-border);
}

.container.pink {
    --style-current-default: var(--style-pink-default);
    --style-current-selected: var(--style-pink-selected);
    --style-current-border: var(--style-pink-border);
}

.container.purple {
    --style-current-default: var(--style-purple-default);
    --style-current-selected: var(--style-purple-selected);
    --style-current-border: var(--style-purple-border);
}

.container.yellow {
    --style-current-default: var(--style-yellow-default);
    --style-current-selected: var(--style-yellow-selected);
    --style-current-border: var(--style-yellow-border);
}

.entriesContainerGridArea {
    grid-area: entriesContainer;
}

.entriesList {
    border-top: 1px solid var(--style-current-border);
    height: calc(100vh - var(--section-header-height) - var(--current-top-row-height));

    overflow: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
}
