@import '../../styleSettings/styleSettings.css';

.entrySection {
    display: grid;
    grid-template-areas: 'idk' 'entry';
    grid-template-rows: var(--accountLinkHeight) auto;
}

.entry {
    grid-area: entry
}
