@import url("~StyleSettings/index.css");

.entrySection {
    display: grid;
    grid-template-areas: 'idk' 'entry';
    grid-template-rows: var(--topRowHeight) auto;
}

.entry {
    grid-area: entry
}
